{% if site.owner.google.ad-client and site.owner.google.ad-slot %}{% include ad-footer.html %}{% endif %}

<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>
<div class="social-icons">
	{% if site.owner.twitter %}<a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
	{% if site.owner.facebook %}<a href="https://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>{% endif %}
	{% if site.owner.linkedin %}<a href="https://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
	{% if site.owner.stackexchange %}<a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange" target="_blank"><i class="fa fa-stack-exchange fa-2x"></i></a>{% endif %}
	{% if site.owner.flickr %}<a href="https://www.flickr.com/photos/{{ site.owner.flickr }}" title="{{ site.owner.name}} on Flickr" target="_blank"><i class="fa fa-flickr fa-2x"></i></a>{% endif %}
	{% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>{% endif %}
	{% if site.owner.gitlab %}<a href="https://gitlab.com/{{ site.owner.gitlab }}" title="{{ site.owner.name}} on Gitlab" target="_blank"><i class="fa fa-terminal fa-2x"></i></a>{% endif %}
  {% if site.owner.pubmed %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=gareth+harman" title="{{ site.owner.name}} on PubMed" target="_blank"><i class="fa fa-bookmark fa-2x"></i></a>{% endif %}
</div><!-- /.social-icons -->

